<div class="content">
  <table class="table table-bordered">
    <thead>
      <th>Date</th>
      <th>Max</th>
      <th>Min</th>
      <th>Difference</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let weight of weights; let i = index;">
        <td>{{ weight.date | date: 'yyyy-MM-dd' }}</td>
        <td>{{ weight.maxWeight}}</td>
        <td>{{ weight.minWeight}}</td>
        <td>{{ weight.maxWeight - weight.minWeight}}</td>
        <td>
          <a routerLink="/weight/{{ i }}" class="btn btn-info btn--view">View Detail</a>
          <a routerLink="/weight/edit/{{ i }}" class="btn btn-success">Edit</a>
        </td>
      </tr>
      <tr *ngIf="weights">
        <td>Average</td>
        <td>{{ averageMaxWeight | number :'1.1-1'}}</td>
        <td>{{ averageMinWeight | number :'1.1-1'}}</td>
        <td>{{ averageDifference | number :'1.1-1'}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="add-new">
    <a class="btn btn-danger" routerLink="/weight/new">Add New</a>
  </div>

</div>
